*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}





/*BANDERAS !!!*/

.Espana{
    border: 1px solid #000;
    height: 220px;
    width: 400px;
    padding: 0px;
    display: inline-block;
}
.Dinamarca{
    border: 1px solid #000;
    height: 220px;
    width: 400px;
    padding: 0px;
    display: inline-block;
}
.Emiratos{
    border: 1px solid #000;
    height: 220px;
    width: 400px;
    padding: 0px;
    display: inline-block;
}
.Japon{
    border: 1px solid #000;
    height: 220px;
    width: 400px;
    padding: 0px;
    display: inline-block;
    position: relative;
}

/*ESPAÑA !!!*/
.e1{
    background-color: red;
    height: 220px;
    width: 100%;
}

.e2{
    width: 100%;
    height: 45%;
    background: #ff0;
    position: relative;
    top: 25%;
}

/*DINAMARCA !!!*/
.d1{
    background-color: red;
    height: 220px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.d2{
    width: 100%;
    height: 15%;
    background: #fff;
    position: absolute;
    top: 35%;
    z-index: 2;
}

.d3{
    width: 10%;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 25%;
    z-index: 3;
}


/*EMIRATOS ÁRABES !!!*/

.em1{
    background-color: red;
    height: 220px;
    width: 20%;
    position: relative;
    
}

.em2{
    width: 400%;
    height: 30%;
    background: green;
    position: absolute;
    top: 0%;
    left: 100%;
}

.em3{
    width: 400%;
    height: 35%;
    background: black;
    position: absolute;
    bottom: 0%;
    left: 100%;
   
}



/*JAPÓN !!!*/
.j1{
    background-color: red;
    width: 120px;
    height: 120px;
    position:absolute;
    top: 20%;
    left: 35%;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



/*LENTES VR EN OFERTA !!!*/

.offer{
position: absolute;
z-index: 3;
top: 25%;
left: 25%;
}

.glasses{
position: relative;
margin-top: 11%;
left: 25%;
}

/*BATERIA DELIVERY !!!*/


.battery{
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 13%;
    }
    
.delivery{
    position: relative;
    margin-top: 14%;
    left: 28%;
    z-index: 3;
    }

/*VIEWPORT !!!*/

.site{
    position: absolute;
    top: 0; 
    right: 0;
}



/*MENU !!!*/

p{
    position: absolute;
    top: 5%;
}

